{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'iris/basecss.css' %}">
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Reconhecimento de íris</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <img src="https://image.flaticon.com/icons/png/512/1387/1387257.png" alt="Italian Trulli" width="200" height="200">
          </div>
          <div class="col">
          <h1 class="escrita">Reconhecimento de iris</h1>
          </div>
          <div class="col">

          </div>
          <div class="col">

          </div>
        </div>
      </div>
      
    </div>


    <div class="sidenav">
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="#">Cadastro</a>
      <a href="#">Consultar</a>
      
    </div>

    <div class="main">

    {% block content %}
    {% endblock %}
    </div>
 
  </body>
</html>